:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
*:focus {
    outline: none;
}
ul {
    list-style: none;
    padding: 0;
}
/* ::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
} 
    not work in firefox*/
a {
    text-decoration: none;
}
.page {
    background-color: #F1F5F9;
    min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
    content: "";
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
    .sidebar > h3::before {
        width: 80px;
        height: 2px;
        bottom: -20px;
      }
      .sidebar > h3::after {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        bottom: -29px;
        border: 4px solid white;
      }
}
.sidebar ul {}
.sidebar ul li {}
.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}
.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3 {
        /* font-size: 13px;
        margin-bottom: 15px; */
        display: none;
    }
    .sidebar ul li a span {
        display: none;
    }
}
/* End Sidebar */
/* Start Content */
.content {}
.head {}
.head .search {}
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 40px;
    width: 155px;
    transition: width 0.3s;
}
.head .search input:focus {
    outline: 1px solid #ddd;
    width: 175px;
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notifications::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
}
.head .icons img {
    width: 32px;
    margin-left: 15px;
}
.page .content h1 {
    font-weight: 600;
    margin: 20px 20px 40px;
}
.page .content h1::before,
.page .content h1::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -10px;
}
.page .content h1::before {
    background-color: white;
    width: 120px;
}
.page .content h1::after {
    background-color: black;
    width: 40px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
/* End Content */
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 170px;
    margin-bottom: -10px;
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;  /* حركة جميلة جدا, باش وسطت 3 عناصر  */
}
.welcome .visite {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}
.welcome .visite:hover {
    background-color: var(--blue-alt-color);
}
/* End Welcome Widget */