:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
*:focus {
    outline: none;
}
ul {
    list-style: none;
    padding: 0;
}
/* ::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
} 
    not work in firefox*/
a {
    text-decoration: none;
}
.page {
    background-color: #F1F5F9;
    min-height: 100vh;
}
/* Start Sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
    content: "";
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
    .sidebar > h3::before {
        width: 80px;
        height: 2px;
        bottom: -20px;
      }
      .sidebar > h3::after {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        bottom: -29px;
        border: 4px solid white;
      }
}
.sidebar ul {}
.sidebar ul li {}
.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}
.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3 {
        /* font-size: 13px;
        margin-bottom: 15px; */
        display: none;
    }
    .sidebar ul li a span {
        display: none;
    }
}
/* End Sidebar */
/* Start Content */
.content {}
.head {}
.head .search {}
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 40px;
    width: 155px;
    transition: width 0.3s;
}
.head .search input:focus {
    outline: 1px solid #ddd;
    width: 175px;
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notifications::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
}
.head .icons img {
    width: 32px;
    margin-left: 15px;
}
.page .content h1 {
    font-weight: 600;
    margin: 20px 20px 40px;
}
.page .content h1::before,
.page .content h1::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: -10px;
}
.page .content h1::before {
    background-color: white;
    width: 120px;
}
.page .content h1::after {
    background-color: black;
    width: 40px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
/* End Content */
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -32px;     /* حركة ذكية اننا قسمنا الطول باش تجي الصورة فالنص */
  margin-left: 20px;
  box-shadow: 0 0 5px #ddd;
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;  /* حركة جميلة جدا, باش وسطت 3 عناصر  */
}
.welcome .visite {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}
.welcome .visite:hover {
    background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* End Welcome Widget */
/* Start Quick Draft Widget */
.quick-draft textarea {
    height: 180px;
}
.quick-draft .save {
    margin-left: auto;
    transition: 0.3s;
}
.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}
/* End Quick Draft Widget */
/* Start Yearly Targets Widget */
.target .targets-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.target .details {
    flex: 1;
} 
.target .details .progress {
    height: 4px;
    position: relative;
} 
.target .details .progress > span {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
} 
.target .details .progress > span span {
    position: absolute;
  right: -16px;
  bottom: 16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 12px;
} 
.target .details .progress > span span::before {} 
.target .details .progress > span span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
} 
.target .details .blue > span span::after {
    border-top-color: #0075ff;
}
.target .details .orange > span span::after {
    border-top-color: #f59e0b;
}
.target .details .green > span span::after {
    border-top-color: #22c55e;
}
.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

/* End Yearly Targets Widget */
/* Start Ticket */
.tickets .box {
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}
/* End Ticket */
/* Start Latest News */
.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}
.latest-news .info {
    flex-grow: 1;
}
.latest-news .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}
@media (max-width: 767px) {
    .latest-news .news-row {
        display: block;
    }
    .latest-news .label {
        width: fit-content;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/* End Latest News */
/* Start Latest Tasks */
.latest-tasks .tasks-row .info {
    flex-grow: 1;
}
.latest-tasks .info h3 {
    font-size: 16px;
}
.latest-tasks .info p {
    /* font-size: 13px; */
}
.latest-tasks .tasks-row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.latest-tasks i {
    transition: 0.3s;
}
.latest-tasks i:hover {
    cursor: pointer;
    color: var(--red-color);
}
.latest-tasks .tasks-row:nth-of-type(4) {
    opacity: 0.25;
}
.latest-tasks .tasks-row:nth-of-type(4) .info {
    text-decoration: line-through;
}
/* End Latest Tasks */
/* Start Search Items */
.search-items {}
.search-items .info h3 {
    font-weight: normal;
    margin-bottom: 10px;
}
/* End Search Items */
/* Start Latest Uploads */
.latest-upload {}
.latest-upload img {
    width: 40px;
    height: 40px;
}
.latest-upload .uploads-row {
    gap: 10px;
    /* margin-top: -10px; */
    margin-bottom: -10px;
}
.latest-upload .uploads-row .info {
    flex-grow: 1;
    

}
.latest-upload .uploads-row:not(:last-of-type) {
    /* margin-bottom: 20px; */
    /* padding-bottom: 20px; */
    border-bottom: 1px solid #eee;
}
/* End Latest Uploads */
/* Start Last Project */
.last-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  position: relative;
}
.last-project ul li.done::before {
    background-color: var(--blue-color);
}
.last-project ul li.current::before {
    /* background-color: var(--red-color); */
    animation: current 1s linear infinite;
}
.last-project img {
    position: absolute;
    width: 180px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}
/* End Last Project */
/* Start Reminders */
.reminders ul li {
    margin-left: 30px;
    padding-left: 15px;
    /* position: absolute; */
    position: relative;
}
.reminders ul li::before {
  content: "";
  position: absolute;
  left: -31px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: 18px;
}
.reminders ul li:first-of-type {
    border-left: 2px solid var(--blue-color);
}
.reminders ul li:first-of-type::before {
    background-color: var(--blue-color);
}
.reminders ul li:nth-of-type(2) {
    border-left: 2px solid var(--green-color);
}
.reminders ul li:nth-of-type(2)::before {
    background-color: var(--green-color);
}
.reminders ul li:nth-of-type(3) {
    border-left: 2px solid var(--orange-color);
}
.reminders ul li:nth-of-type(3)::before {
    background-color: var(--orange-color);
}
.reminders ul li:last-of-type {
    border-left: 2px solid var(--red-color);
}
.reminders ul li:last-of-type::before {
    background-color: var(--red-color);
}
.reminders ul li h3 {
    margin-bottom: 10px;
    font-size: 15px;
}
.reminders ul li p {
    font-size: 13px;
    margin-top: 0;
}
/* End Reminders */
/* Start Latest Post */
.latest-post .me {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-top: -10px;
}
.latest-post .me img {
    width: 48px;
    height: 48px;
}
.latest-post .body-txt {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.8;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  /* margin-right: 20px; */
}
@media (max-width: 767px) {
    .latest-post .me  {
        text-align: center;
        flex-direction: column;
        margin-top: 10px;
    }
    .latest-post .me .txt {
        margin-top: -20px;
    }
}
.latest-post .our-data {
  padding-top: 20px;
  border-top: 1px solid #ddd;
  padding-bottom: 20px;
}
/* End Latest Post */
/* Start Social Media Stats */
.social-media .media-row {
    margin-bottom: 10px;
}
.social-media .icon {
    display: flex; /* لتفعيل خاصية التوسيط */
    align-items: center; /* توسيط عمودي */
    justify-content: center; /* توسيط أفقي */
    width: 52px; /* عرض المربع الأزرق */
    height: 56px; /* ارتفاع المربع الأزرق */
    
}
.social-media i {
    color: #fff; /* لون أيقونة تويتر باللون الأبيض */
}
.social-media .flw {
    flex-grow: 1;
}
.social-media a {
    margin-right: 15px;
    font-size: 13px;
}
.social-media .twt {
    background-color: rgb(29 161 242 / 20%);
}
.social-media .twt .icon {
    background-color: #1da1f2;
}
.social-media .twt .flw {
    color: #1da1f2;
}
.social-media .twt a {
    background-color: #1da1f2;
}
.social-media .fb {
    background-color: rgb(24 119 242 / 20%);
}
.social-media .fb .icon {
    background-color: #1877f2;
}
.social-media .fb .flw {
    color: #1877f2;
}
.social-media .fb a {
    background-color: #1877f2;
}
.social-media .yb {
    background-color: rgb(255 0 0 / 20%);
}
.social-media .yb .icon {
    background-color: #ff0000;
}
.social-media .yb .flw {
    color: #ff0000;
}
.social-media .yb a {
    background-color: #ff0000;
}
.social-media .lin {
    background-color: rgb(0 119 181 / 20%);
}
.social-media .lin .icon {
    background-color: #0077b5;
}
.social-media .lin .flw {
    color: #0077b5;
}
.social-media .lin a {
    background-color: #0077b5;
}
/* End Social Media Stats */
/* Start Project */
.project .responsive-table {
    overflow-x: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  th {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  td {
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 15px;
    color: black;
    font-weight: 500;
  }
  
  thead {
    background-color: #ddd;
  }
  
  th {
    font-weight: bold;
    font-size: 16px;
  }
  table tbody td {
    transition: 0.3s;
  }
  table tbody tr:hover td {
    background-color: #faf7f7;
  }
  .team img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: -15px;
    border: 2px solid white;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 13px;
  }
  
  .pending {
    background-color: #f0ad4e; /* اللون البرتقالي */
  }
  
  .in-progress {
    background-color: #007bff; /* اللون الأزرق */
  }
  
  .completed {
    background-color: #28a745; /* اللون الأخضر */
  }
  
  .rejected {
    background-color: #dc3545; /* اللون الأحمر */
  }  
/* End Project */
/* Start Settings */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.settings-page .close-message {
    border: 1px solid #ccc;
    min-height: 150px;
}
.settings-page .email {
    display: inline-flex;
    margin-right: 15px;
    width: calc(100% - 80px);
}
.settings-page .info {
    padding-top: 15px;
    padding-bottom: 20px;
}
.settings-page .info:first-of-type {
    padding-top: 0;
}
.settings-page .info:last-of-type {
    padding-bottom: 0;
}
.settings-page .info:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}
.settings-page .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #F6F6F6;
    border: 1px solid #ddd;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(221, 221, 221);
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
}
.settings-page .social-boxes input {
    height: 40px;
    background-color: #F6F6F6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes > div:focus-within i {
    color: black;
}


.widget-list {
    list-style: none;
    padding: 0;
}

/* تنسيق عناصر القائمة */
.widget-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* تنسيق مربعات الاختيار */
.widget-list input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    accent-color: #007bff;
}

/* تنسيق النص بجانب مربعات الاختيار */
.widget-list label {
    font-size: 16px;
}

.backup-options {
    margin-bottom: 20px;
}

.backup-options label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

.backup-options input[type="radio"] {
    margin-right: 10px;
    accent-color: #007bff; /* لون الدائرة */
    width: 20px;
    height: 20px;
}
.servers input[type="radio"] {
    appearance: none;
}
.backup .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
@media (max-width: 767px) {
    .backup .servers {
        flex-direction: column;
    }
}
.backup .servers .server {
    border: 1px solid #eee;
    position: relative;
}
.backup .servers .server label {
    cursor: pointer;
}
.backup .servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}
/*  */
.toggle-checkbox {
    appearance: none;
}
.toggle-switch {
    width: 78px;
  height: 32px;
  background-color: #ccc;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d"; /* الشيفرة الخاصة بأيقونة X */
    position: absolute;
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
}
/* End Settings */
/* Start Profile */
@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}
.profile-page .avatar-box {
    width: 300px;
}
@media (min-width: 768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #ddd;
    }
}
.profile-page .avatar-box > img {
    width: 120px;
    height: 120px;
}
.profile-page .avatar-box .level {
    height: 6px;
    overflow: hidden;
    width: 70%;
    margin: auto;
}
.profile-page .avatar-box .level span {
    position: absolute;
    height: 100%;
    background-color: var(--blue-color);
    left: 0;
}
.profile-page .info-box {
    
}
.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
}
.profile-page .info-box .box:hover {
    background-color: #F6F6F6;
}
.profile-page .info-box .box h4 {}
@media (min-width: 768px) {
    .profile-page .info-box .box > div {
        min-width: 230px;
        padding: 0px 0 0;
    }
}

.profile-page .toggle-switch {
    height: 19px; /* تعديل الطول إلى 19px */
    background-color: #ccc;
    border-radius: 9.5px; /* نصف الطول لجعل الحواف دائرية */
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.profile-page .toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d"; /* الشيفرة الخاصة بأيقونة X */
    position: absolute;
    font-weight: 900;
    background-color: white;
    width: 15px; /* تعديل عرض وارتفاع الأيقونة لتتناسب مع الطول الجديد */
    height: 15px;
    border-radius: 50%;
    top: 2px; /* ضبط المسافة من الأعلى لتتناسب مع التغيير */
    left: 2px; /* ضبط المسافة من اليسار لتتناسب مع التغيير */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.profile-page .toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}

.profile-page .toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c"; /* شيفرة الصح */
    left: 60px; /* تعديل موقع الأيقونة عندما يكون الزر في حالة checked */
    color: var(--blue-color);
}
@media (max-width:767px) {
    .profile-page .info-box .box h4 {
        text-align: center;
    }
    .profile-page .info-box .box > div:not(:last-child) {
        width: 100%;
        padding: 0px 0 0;
        text-align: center;
    }
    .profile-page .info-box .box > div:last-child {
        margin: auto;
    }
    .profile-page .toggle-checkbox:checked + .toggle-switch {
        transform: translateX(-45%);
    }
}
.informartions .skills {
    flex-basis: 30%;
}
.informartions .latest-activities {
    flex-grow: 1;
}
.informartions .skills > div:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.informartions .skills > div span {
    display: inline-block;
    width: fit-content;
    margin-bottom: 5px;
}
.informartions .latest-activities img {
    width: 64px;
}
.informartions .latest-activities .box:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .informartions {
        text-align: center;
        flex-direction: column;
    }
    .informartions .latest-activities .box {
        flex-direction: column;
    }
    .informartions .latest-activities .box .info {
        flex-direction: column;
    }
}
/* End Profile */
/* Start Projects */
.projects-page .projects-widjets {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.projects-page .projects-widjets .box .date {
    position: absolute;
    top: 10px;
    right: 10px;
}
.projects-page .projects-widjets .box .avatar {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
}
.projects-page .projects-widjets .box .avatar img {
    width: 40px;
    height: 40px;
}
.projects-page .projects-widjets .box .level .progress {
    height: 8px;
    width: 50%;
}
.projects-page .projects-widjets .box .level .percentage {
    position: absolute;
    left: 0;
    height: 100%;
}
.projects-page .projects-widjets .box .level span:last-of-type {
    position: absolute;
    right: -10px;
}
.projects-page .projects-widjets .box .jobs {
    text-align: right;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px
}
@media (max-width: 767px) {
    .projects-page .projects-widjets {
        grid-template-columns: minmax(250px, 1fr);
    }
    .projects-page .projects-widjets .box .jobs {
        text-align: center;
    }
    .projects-page .projects-widjets .box .jobs span {
        margin-bottom: 10px;
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}
/* End Projects */
/* Start Courses */
.courses-page .course-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.courses-page .course-container .box {
    overflow: hidden;
}
.courses-page .course-container .box .imgs img:first-child {
    width: 100%;
}
.courses-page .course-container .box .imgs img:last-child {
    position: absolute;
    width: 64px;
    border: 2px solid white;
    border-radius: 50%;
    left: 15px;
    top: 15px;
}
.courses-page .course-container .box .txt p {
    line-height: 1.6;
}
.courses-page .course-container .box .course-info {
    width: fit-content;
    margin: 0 auto 20px;
}
.courses-page .course-container .box .course-footer {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
@media (max-width: 767px) {
    .courses-page .course-container {
        display: flex;
        flex-direction: column;
    }
}
/* End Courses */
/* Start Friends */
.friends-page .friends-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}
.friends-page .friends-container .box .icons .contact i {
    background-color: #eee;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #777;
}
.friends-page .friends-container .box .profile-info {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.friends-page .friends-container .box .profile-info h4 {
    /* font-size: 13px; */
    margin-bottom: -10px;
}
.friends-page .friends-container .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.friends-page .friends-container .box .btns {
    display: flex;
    gap: 2px;
}
.friends-page .friends-container .box .profile-footer {
    border-top: 1px solid #ddd;
}
@media (max-width: 767px) {
    .friends-page .friends-container {
        display: flex;
        flex-direction: column;
    }
}
/* End Friends */
/* Start Files */
.file-page .file-container .file-widjets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    flex-grow: 1;
}
.file-page .file-container .file-widjets .box .content img {
    width: 70px;
    height: 70px;
}
.file-page .file-container .file-widjets .box p {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.file-page .file-container .file-statistics {
    width: 260px;
    height: fit-content;
}
.file-page .file-container .file-statistics .file-box {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0px 10px 0px 10px;
}
.file-page .file-container .file-statistics .file-box .info i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-page .file-container .file-statistics .btn {
    width: fit-content;
    margin: 15px auto -5px auto;
    padding: 10px 15px;
    transition: 0.3s;
}
.file-page .file-container .file-statistics .btn:hover {
    background-color: var(--blue-alt-color);
}
.file-page .file-container .file-statistics .btn:hover i {
    animation: move-btn 0.8s infinite;
}
@media (max-width: 767px) {
    .file-page .file-container {
        display: flex;
        flex-direction: column;
    }
    .file-page .file-container .file-statistics {
        width: 100%;
        order: -1;
    }
}
/* End Files */
/* Start Plans */
.plans-page .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}
.plans-page .plans .plan .offre {
    border: 4px solid white;
    position: relative;
}
.plans-page .plans .plan .bg-green {
    outline: 3px solid var(--green-color);
}
.plans-page .plans .plan .bg-blue {
    outline: 3px solid var(--blue-color);
}
.plans-page .plans .plan .bg-orange {
    outline: 3px solid var(--orange-color);
}
.plans-page .plans .plan .offre p {
    font-size: 40px;
    position: relative;
}
.plans-page .plans .plan .offre p span {
    font-size: 25px;
    position: relative;
    bottom: 10px;
    right: 5px;
}
.plans-page .plans .plan ul {
    padding-top: 15px;
}
.plans-page .plans .plan ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px
}
.plans-page .plans .plan ul li .yes {
    color: var(--green-color);
}
.plans-page .plans .plan ul li .no {
    color: var(--red-color);
}
.plans-page .plans .plan ul li .help {
    color: #777;
    cursor: pointer;
}
@media (max-width: 767px) {
    .plans-page .plans {
        display: flex;
        flex-direction: column;
    }
    .plans-page .plans .plan ul li .help {
        display: none;
    }
    .plans-page .plans .plan ul li .info {
        font-size: 14px;
    }
}
/* End Plans */
/* Start Animation */
@keyframes current {
    0%,
    100% {
        background-color: var(--blue-color)
    }
    50% {
        background-color: white;
    }
}
@keyframes move-btn {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); 
    }
}
/* End Animation */