/* Start Box */
.d-grid {
    display: grid;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.f-wrap {
    flex-wrap: wrap;
}
.d-block {
    display: block;
}
/* End Box */
/* Start Padding, Margin */
.p-20 {
    padding: 20px;
}
.p-15 {
    padding: 15px;
}
.p-10 {
    padding: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-0 {
    margin-bottom: 0px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.w-full {
    width: 100%;
}
.overflow-hidden {
    overflow: hidden;
}
.w-fit {
    width: fit-content;
}
/* End Padding, Margin */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: #0075ff;
}
.bg-orange {
    background-color: #f59e0b;
}
.bg-green {
    background-color: #22c55e;
}
.bg-grey {
    background-color: #888;
}
.bg-red {
    background-color: #f44336;
}
.c-black {
    color: black;
}
.c-blue {
    color: #0075ff;
}
.c-blue-alt {
    color: #0d69d5;
}
.c-orange {
    color: #f59e0b;
}
.c-green {
    color: #22c55e;
}
.c-red {
    color: #f44336;
}
.c-grey {
    color: #888;
}
.c-white {
    color: white;
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* End Position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-25 {
    font-size: 25px;
}
.fw-normal {
    font-weight: normal;
}
.fw-bold {
    font-weight: bold;
}
/* End Font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
}
.b-none {
    border: none;
}
.border-ccc {
    border: 1px solid #ccc;
}
.resize-none {
    resize: none;
}
/* End Border */
/* Start Transition */
.tr-0.3s {
    transition: 0.3s
}
/* End Transition */
/* Start Media */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
}
/* End Media */
/* Strat Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.blue-alt:hover {
    background-color: red;
}
/* End Components */